* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
.accordion {
  margin: 0 auto;
  max-width: 600px;
  margin-top: 40px;
  margin-bottom: 130px;
}
.accordion-title {
  font-size: 2.8rem;
  margin-bottom: 2.8rem;
}
.accordion-tab:not(:last-child) {
  margin-bottom: 0;
}
h2 {
  font-size: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(192, 191, 191);
  border-bottom: 1px solid rgb(192, 191, 191);
  padding: 10px 0;
  transition: 0.3s;
}
label > img {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 450px;
  max-height: 0;
  opacity: 0;
  transition: 0.2s;
}
.arrow {
  width: 20px;
  height: 20px;
  transition: 0.3s;
}
input {
  display: none;
}
input:checked ~ label > img {
  max-height: 100%;
  opacity: 1;
}
input:checked ~ label > h2 > .arrow {
  display: inline-block;
  transform: rotate(180deg);
}
input:checked ~ label > h2 {
  border-bottom: none;
}
input:checked ~ h2 {
  border-bottom: 0;
}

@media (min-width: 1180px) {
  label {
    cursor: pointer;
  }
  .accordion:hover {
    color: rgb(31, 67, 125);
  }
  input:hover ~ label > img {
    max-height: 100%;
    opacity: 1;
  }
  input:hover ~ label > h2 > .arrow {
    transform: rotate(180deg);
  }
  input:hover ~ label > h2 {
    border-bottom: 0;
  }
}
